@import 'typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: $background-color;
    font-size: $font-s;
    color: $light-text;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}